---
---

@import "{{ site.theme }}";
body {
      font-size: 16px;
}
header {
	width: 200 px;
	li {
		width: 170px;
	}
}
blockquote
{
  font-style: normal;
  font-size: 16px;
  margin-left: 32px;
  font-family: Consolas, "Times New Roman", Verdana;
  border-left: 4px solid #9c003c;
  padding-left: 8px;
}